@media screen and (max-width: 960px) {
  .logo h2 {
    color: white;
    font-family: monospace;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 5px;
  }

  .logo h3 {
    color: aqua;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: monospace;
    padding-left: 62px;
    padding-bottom: 5px;
  }
  header {
    background-color: rgb(17, 10, 28);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .nav-links li {
    list-style: none;
    margin-top: 15px;
  }
  .nav-links a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .nav-links a:hover {
    color: cyan;
    transition: all 0.3 ease-in-out;
  }
  .nav-links {
    display: none;
  }
  nav {
    display: flex;
  }
  .burger {
    cursor: pointer;
    padding: 18px 25px;
  }
  .line {
    background-color: #fff;
    height: 3px;
    width: 29px;
    margin-top: 6px;
  }
  .nav-links.show {
    display: grid;
    background-color: #110a1c;
    position: absolute;
    left: 0;
    top: 67px;
    width: 94.5%;
    padding-left: 30px;
    padding-top: 20px;
  }
  .navbar-active .line:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  .navbar-active .line:nth-child(2) {
    opacity: 0;
  }
  .navbar-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
  section.shift {
    margin-top: 180px;
  }
  section {
    background-color: #23143f;
    background-image: linear-gradient(#100427, #110a1c);
    height: 1650vh;
  }
  section img {
    width: 400px;
    margin-left: 70px;

    /* position: relative; */
    margin-bottom: 165px;
    margin-top: -168px;
  }
  .image1 {
    width: 10px;
  }
  .image1 img {
    margin-top: 17px;
  }
  section h1 {
    color: white;
    text-align: center;
    width: 40%;
    margin-left: 170px;
    margin-top: -190px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .gaming {
    margin-top: 1px;

    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: lighter;
  }
  .ecosystem {
    margin-top: 5px;
    font-weight: lighter;
    margin-left: 170px;

    background-color: #ff8177;
    background-image: linear-gradient(to top, #dd28c5 0%, #fd2184 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .join {
    margin-bottom: 70px;
    font-weight: lighter;
  }
  .community {
    margin-top: -60px;
    padding-right: 30px;
    font-weight: lighter;
  }
  .web {
    margin-top: 4px;
    font-weight: lighter;
    color: white;
    width: 70%;
    margin-left: 90px;
  }
  .content2 p {
    text-align: center;
    color: white;
    margin-top: 40px;
    width: 50%;
    margin-left: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: lighter;
  }
  #btn {
    padding: 10px 0px;
    border-radius: 17px;
    background-image: linear-gradient(#800080, #8484d7ec);
    margin-top: 30px;
    margin-left: 160px;
    width: 40%;
    border: none;
  }
  #btn:hover {
    background-image: linear-gradient(#171770ec, #800080);
    transition: all 0.3s ease-in-out;
  }
  button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .btnD {
    display: grid;
  }
  #buttonL a {
    color: white;
  }
  #buttonL {
    background-color: #100427;
    border: 1px solid purple;
    padding: 10px 70px;
    border-radius: 17px;
    margin-left: 148px;
    margin-top: 25px;
  }
  #buttonL:hover {
    background-image: linear-gradient(rgb(94, 15, 28), blue);
    transition: all 0.3s ease-in-out;
  }
  .grid a {
    color: white;
    text-decoration: none;
  }
  .content_grid {
    display: grid;
    width: 50%;
    grid-template-rows: 1fr, 2fr;
  }
  .links {
    background-color: black;
    width: 90%;
    height: 250px;
    margin: 20px auto;
    border-radius: 15px;
    padding-bottom: 20px;
  }
  .links h4 {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
    width: 70%;
    padding-left: 70px;
    padding-top: 30px;
  }
  .grid {
    margin-left: 30px;
    margin-top: 20px;
  }
  .content_grid {
    display: grid;

    grid-template-columns: 2fr 2fr;
    text-align: center;
    margin-left: 70px;
  }
  .gri {
    padding-right: 40px;
  }
  .gr {
    padding-right: 80px;
    font-family: cursive;
    font-weight: bolder;
  }
  #bit {
    padding-right: 45px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .neon .web3 {
    color: white;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #f058c8 0%, #9a2b5d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 25px;
    padding-bottom: 30px;
  }
  .web2 {
    display: grid;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #800080;
    width: 80%;
    margin: 20px auto;
    height: 190px;
    background-image: linear-gradient(#110a1c, #060406);
  }
  .web2 a {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 10px;
  }
  #hive {
    font-size: 50px;
    color: #fd2184;
    margin-top: 20px;
    margin-left: -10px;
  }
  #dungeon {
    font-size: 50px;
    color: #fd2184;
    margin-top: 20px;
    margin-left: -10px;
  }
  #wallet {
    font-size: 50px;
    color: #fd2184;
    margin-top: 20px;
    margin-left: -10px;
  }
  #slash {
    font-size: 50px;
    color: #fd2184;
    margin-top: 20px;
    margin-left: -10px;
  }
  #pad {
    font-size: 50px;
    color: #fd2184;
    margin-top: 20px;
    margin-left: -10px;
  }
  #finger {
    font-size: 50px;
    color: #fd2184;
    margin-top: 20px;
    margin-left: -10px;
  }

  .neon p {
    color: white;
    text-align: center;
    width: 80%;
    margin-left: 45px;
    font-family: sans-serif;
  }

  .g1 {
    margin-top: 80px;
    font-size: 25px;
    width: 80%;
    margin-left: 50px;
    text-align: center;
  }
  .end img {
    width: 480px;
    height: 190px;
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 10px;
  }
  .end h2 {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
  }
  .end {
    width: 90%;
    border-radius: 8px;
    display: grid;
    border: 0.5px solid #dd28c5;
    margin: 40px auto;
    padding-left: 30px;
    padding-bottom: 15px;
  }
  .end-content {
    margin-top: -120px;
  }
  .end a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  .end li {
    margin-top: 25px;
    color: white;
    list-style-position: inside;
  }
  .products h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b158f0 0%, #9a2b2b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .gi {
    display: none;
  }
  .gi.view {
    display: block;
  }
  .web2 {
    transition: transform 0.3 ease-in-out;
  }
  .web2:hover {
    transform: scale(0.9);
    background-image: linear-gradient(#3b2164, #060406);
  }
  #neong {
    height: 250px;
  }
  #text {
    color: white;
    width: 70%;
    text-align: center;
    margin-left: 80px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
  .neonimg {
    background-image: url(images/neon.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
  }
  .neonimg2 {
    background-image: url(images/image2.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  .neonimg3 {
    background-image: url(images/image3.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
  }
  .neonimg4 {
    background-image: url(images/neon.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  .neonite_img {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 310px;
    grid-auto-columns: -40px;
  }
  .quest {
    margin-left: 55px;
    width: 80%;
    margin-left: 55px;
    margin-top: 70px;
    font-size: 25px;
  }
  #question {
    width: 80%;
    margin-left: 55px;
    margin-top: 70px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ff8177;
    background-image: linear-gradient(
      to top,
      rgb(207, 169, 164) 0%,
      rgb(231, 83, 211) 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .neonite .p {
    margin-top: 30px;

    color: white;
    width: 75%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 65px;
  }
  #diamond {
    color: rgb(128, 0, 79);
    font-size: 50px;
    margin-left: 180px;
    padding: 10px 0;
  }
  #gear {
    color: rgb(128, 0, 79);
    font-size: 50px;
    margin-left: 180px;
    padding: 10px 0;
  }
  #simple {
    color: rgb(128, 0, 79);
    font-size: 50px;
    margin-left: 180px;
    padding: 10px 0;
  }
  #shield {
    color: rgb(128, 0, 79);
    font-size: 50px;
    margin-left: 180px;
    padding: 10px 0;
  }
  #hiv {
    color: rgb(128, 0, 79);
    font-size: 50px;
    margin-left: 180px;
    padding: 10px 0;
  }
  .mission {
    border: 1px solid #dd28c5;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
  }
  .mission h3 {
    color: white;
    text-align: center;
    font-family: sans-serif;
  }
  .mission p {
    color: rgba(255, 240, 212, 0.495);
    font-family: sans-serif;
    width: 80%;
    padding-top: 8px;
    text-align: center;
    margin-left: 40px;
  }
  h5 {
    color: white;
    text-align: center;

    margin: 30px auto;
    width: 80%;
  }
  h5 a {
    color: white;
    text-decoration: none;
  }
  h5 a:hover {
    color: blue;
  }
  .coin {
    border: 1px solid #dd28c5;
    width: 90%;
    margin: 40px auto;
    text-align: center;
    padding-bottom: 40px;
    border-radius: 10px;
  }
  .coin img {
    width: 300px;
    margin-left: 5px;

    /* position: relative; */
    margin-bottom: 10px;
    margin-top: 18px;
  }
  .coin h3 {
    background-color: #ff8177;
    background-image: linear-gradient(
      to top,
      rgb(207, 169, 164) 0%,
      rgb(231, 83, 211) 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-family: Verdana, Geneva, Tahoma;
    font-size: 25px;
  }
  .coin p {
    padding-top: 10px;
    width: 70%;
    color: white;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #buttonL2 {
    background-color: #100427;
    border: 1px solid purple;
    padding: 10px 70px;
    border-radius: 17px;
    margin-left: 20px;
    margin-top: 25px;
  }
  #buttonL2:hover {
    background-image: linear-gradient(rgb(94, 15, 28), blue);
    transition: all 0.3s ease-in-out;
  }
  #down {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .dropdown {
    display: none;
  }
  .dropdown.view {
    display: block;
    margin-top: 10px;
  }
  .down {
    margin-top: 10px;
    margin-right: 10px;
  }
  #la {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    font-weight: lighter;
  }
  .latest {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .buttonL3 {
    background-color: #100427;
    border: 1px solid purple;
    padding: 10px 50px;
    border-radius: 17px;
    margin-right: 20px;
    margin-top: -5px;
  }
  .buttonL3:hover {
    background-image: linear-gradient(rgb(94, 15, 28), blue);
    transition: all 0.3s ease-in-out;
  }
  .buttonL3 a {
    color: white;
    text-decoration: none;
  }
  .lg img {
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 14px;
  }
  .lg h3 {
    margin-top: -160px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin-left: 20px;
  }
  .lg h3 a {
    color: white;
    text-decoration: none;
  }
  .lg {
    border: 1px solid purple;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding-bottom: 10px;
  }
  .lg p {
    color: white;
    margin-left: 20px;
    padding-top: 10px;
  }
  #h {
    width: 90%;
  }
  .subscribe h2 {
    color: white;
    font-family: sans-serif;
    width: 80%;
    text-align: center;
    margin: 60px auto;
  }
  #mail {
    padding: 10px;
    padding-right: 160px;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid grey;
    margin-left: 50px;
    color: white;
  }

  #sub {
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
    border: none;
    background-image: linear-gradient(#800080, #0f0fa4ec);
  }
  .general {
    margin-top: 80px;
    margin-left: 50px;
  }
  .general h4 {
    color: grey;
    font-family: sans-serif;
    margin-bottom: 20px;
  }
  .general li {
    list-style: none;
    margin-top: 10px;
  }
  .general a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  #gen {
    margin-top: 30px;
  }
  #hot {
    color: #800080;
    background-color: transparent;
    border: 2px solid #dd28c5;
    padding: 5px 8px;
    margin-left: 5px;
    border-radius: 6px;
  }
  .seperate {
    border: 1px solid rgb(41, 37, 37);
    width: 90%;
    margin-top: 30px auto;
    margin-top: 80px;
    margin-left: 20px;
  }
  .logo1 h3 {
    color: white;
    font-family: monospace;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 5px;
    padding-top: 5px;
  }

  .logo1 #h {
    color: aqua;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: monospace;
    padding-left: 53px;
    padding-bottom: 1px;
    margin-top: -7px;
  }
  .pass p {
    display: none;
  }
  .image-grid img {
    width: 20px;

    margin-left: 30px;

    /* position: relative; */
    margin-bottom: 5px;
    margin-top: 18px;
  }
  .copy a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  .copy {
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 19px;
  }
  .privacy {
    margin-left: 30px;
    margin-top: 20px;
    list-style: none;
  }
  .privacy a {
    color: rgb(120, 111, 111);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }
}
